<%= form_with model: @supplier, local: true do |form| %>
  <% if @supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
      <% @supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="container">
      <div class="col-sm-9">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%#= form.label :name %>
            
            <%= form.text_field :name , class: 'input-block-level', autofocus: true, placeholder: 'Supplier name' %>
          </div>

        <div class="panel-body">
          <div class="col-md-12">
              <%= form.label :image %>
              <%=  form.file_field :image  %>
              <%= form.hidden_field :product_id %>
            </div>
                <div class="container-fluid">
                   <div class="actions">
                        <%= form.submit  class: 'btn btn-default' %>
                  </div>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
<% end %>
