<% elements.each do |itm | %>
  <div class="container">
<div class="row">
        <div class="col-md">
          <% if itm.completed? %>
          <%= link_to complete_user_task_path(itm.user.id, itm.id,completed: false), method: :patch do %>
          <i class="fa fa-check-square-o"></i>
          <% end %>
          <% else %>
          <%= link_to complete_user_task_path(itm.user.id, itm.id,completed: true), method: :patch do %>
          <i class="fa fa-square-o"></i>
          <% end %>
          <% end %>
        </div><!-- /card card-default -->
      </br>
      <% itm.completed %>
    <div class="col-md">
      <strong><%= itm.title %></strong> </br>
    <small><%= time_ago_in_words(itm.created_at.to_date)  %></small>
  </div>
<div class="col-md">
    <% if itm.completed? %>
    <p style="opacity: 0.4;"><strike><%= itm.text %></strike></p>
    <% else  %>
    <%= itm.text %>
    <% end %>
  </div>
  </br>
  <div>
    <%= itm.priority %>
  </div>

    <div class"col-md">
      <td><%= link_to edit_polymorphic_path([parent, itm]), :class=>'btn btn-sucsess' do %>
        <i class="fa fa-pencil"></i>
        <% end %>
      </td>
    </div>
      <div class="col-md">
      <td><%= link_to  [parent, itm], :class=>'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fa fa-trash"></i>
        <% end %>
      </td>
    </div>
</div>
</div>
<% end %>
