<%= form_with model: [ parent, children ], local: true do |form| %>

  <% if children.image? %>
    <div class="card-body">
      <div class="col-md-12">
        <div class="float-left col-md-4 col-xs-12 thumb-image">
          <p><%= image_tag(children.image.url, height: '100', alt: 'Image', :class =>'d-block mx-auto img-responsive') %></p>
        </div>
      </div>
    </div><!-- /card-body -->
    <% end %>
  <div class="container">
    <div class="col-sm-12">
      <div class="card card-default">
        <div class="card-heading">
        <%#= form.label :name %>
          <%= form.text_field :name , class: 'input-block-level', placeholder: "#{pl_text} name" %>

          <% if (pl_text == "Plane")  || (pl_text == "Ticket") %>
          <div style="padding-top: 10px;">
              <%= form.text_field :destination , class: 'input-block-level', placeholder: "Destination" %>
          </div>
          <% end %>

          <% if pl_text == "Passenger"%>
          <div style="padding-top: 10px;">
              <%= form.text_field :passport , class: 'input-block-level', placeholder: "passport numer" %>
          </div>

          <div style="padding-top: 10px;">
              <%= form.phone_field :phone_number , class: 'input-block-level', placeholder: "phone numer" %>
          </div>
          <% end %>

        </div>

      <div class="card-body">
        <div class="col-md-9">
            <%= form.label :image %>

              <%=  form.file_field :image, accept: 'image/png,image/gif,image/jpeg'%>


          </div>
              <div class="container-fluid">
                 <div class="actions">
                      <%= form.submit  class: 'btn btn-outline-secondary' %>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>

<% end %>
