<% elements.each do |itm | %>
<div class="container-fluid">
  <div class="col-sm-12">
    <div class="card card-default">
      <div class="card-heading">
        <strong><%= link_to itm.name, itm %></strong> </br>
        <%= content_tag(:strong, "Destination: ") + itm.destination + tag(:br) if defined? itm.destination %>
        <%= content_tag(:strong,"Passport: ") + itm.passport + tag(:br) if defined? itm.passport %>
        <%= content_tag(:strong,"Phone number: ") + itm.phone_number if defined? itm.phone_number %>


      </div>
      <div class="card-body">
        <div class="col-md-12">
          <div class="float-left col-sm-12">
            <p><%= image_tag(itm.image.url, alt: 'Image', :class =>'card-img-top') if itm.image? %></p>
          </div>
        </div>
      </div><!-- /card-body -->
    </div><!-- /card card-default -->
  </div><!-- /col-sm-5 -->
</div>
<%end%>
