  <%#= link_to 'New category', categories_path(country_id: @country.id), method: :post, :class=>'btn btn-default' %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-2 white-text text-center text-md-left">
        <td><%= link_to 'Back', city_path(@city) , :class=>'btn btn-light' %></td>
        <%= render partial: 'shared/card', :locals => { parent: @city, pl_text: "Airport", children: @airport} %>

        <%= render partial: 'shared/list', :locals => { elements: @city.airports, country: "airport"} %>
      </div>

<div class="col-md-8 col-xl-5 mb-4">

<h3><%= 'Planes:' if @airport.planes.any? %></h3>
<%= render partial: 'shared/list', :locals => { elements: @airport.planes, edit_link: "edit_airport_planes", country: "airport"} %>

  <%# if current_user %>

    <h3>Create Plane</h3>

    <%#= render 'shared/form', city: @country.cities.build %>
    <%= render partial: 'shared/form', :locals => { parent: @airport, pl_text: "Plane", children: @airport.planes.build} %>

  <%# end %>

  <%#= render 'categories/form' category: @country.categories.build %>
    </div>
  </div>
</div>
