<div class="container">
  <%= link_to 'New store', new_store_path, :class=>'btn btn-default' %>
</div>
<h1>Stores</h1>
<p id="notice"><%= notice %></p>
<div class="container">
<% @stores.each do |store| %>
  <div class="left-panel">
        <div class="col-xs-12 col-sm-6 col-lg-8">
    	    <div class="panel panel-default">
    		    <div class="panel-body">
    				<div class="col-md-12">

    						<h2><%= link_to store.name, store %></h2>
    						<p><%= store.image %></p>

                <tr class="container-fluid pull-right">

                        <td><%= link_to 'Edit', edit_store_path(store), :class=>'btn btn-default' %></td>
                        <td><%= link_to 'Delete', store_path(store), :class=>'btn btn-danger pull-right', method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>

              </div>
            </div>
          </div>

        </div>
      </div>
  <% end %>

</div>
