  <%#= link_to 'New category', categories_path(country_id: @country.id), method: :post, :class=>'btn btn-default' %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-2 white-text text-center text-md-left">
        <td><%= link_to 'Back', plane_path(@passenger.plane) , :class=>'btn btn-light' %></td>
        <%= render partial: 'shared/card', :locals => { parent: @plane, pl_text: "Passenger", children: @passenger} %>

        <%= render partial: 'shared/list', :locals => { elements: @plane.passengers, country: "passenger"} %>

      </div>

<div class="col-md-8 col-xl-5 mb-4">

<h3><%= 'Tickets:' if @passenger.tickets.any? %></h3>
<%= render partial: 'shared/list', :locals => { elements: @passenger.tickets, edit_link: "edit_passenger_ticket_path", country: "ticket"} %>

  <%# if current_user %>

    <h3>Create Ticket</h3>

  <%= render partial: 'shared/form', :locals => { parent: @passenger, pl_text: "Ticket", children: @passenger.tickets.build } %>
  <%# end %>

    </div>
  </div>
</div>
