  <%#= link_to 'New category', categories_path(country_id: @country.id), method: :post, :class=>'btn btn-default' %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-2 white-text text-center text-md-left">
        <div class="card">
          <div class="card-heading">
            <strong>Passenger:</strong>
            <%= @passenger.name %> </br>
            <strong>Phone number:</strong>
            <%= @passenger.phone_number %> </br>
            <strong>Passport number:</strong>
            <%= @passenger.passport %> </br>

          </div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="float-left col-md-4 col-xs-12 thumb-image">
                <p><%= image_tag(@passenger.image.url, alt: 'Image', :class =>'center-block img-responsive') if @passenger.image? %></p>
              </div>
            </div>
            <tr>
              <%# if current_user %>
              <td><%= link_to 'Edit', edit_plane_passenger_path(@passenger.plane, @passenger), :class=>'btn btn-light' %></td>
              <td><%= link_to 'Delete', [@passenger.plane, @passenger], :class=>'btn btn-danger float-right', method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <%# end%>
            </tr>
          </div><!-- /card-body -->
        </div><!-- /card card-default -->
        <td><%= link_to 'Back', plane_path(@passenger.plane) , :class=>'btn btn-light' %></td>
        <!-- /col-sm-5 -->
      </div>

<div class="col-md-8 col-xl-5 mb-4">

<h3><%= 'Tickets:' if @passenger.tickets.any? %></h3>
<%= render partial: 'shared/list', :locals => { elements: @passenger.tickets, edit_link: "edit_passenger_ticket_path", country: "ticket"} %>

  <%# if current_user %>

    <h3>Create Ticket</h3>

  <%= render partial: 'shared/form', :locals => { parent: @passenger, pl_text: "Ticket", children: @passenger.tickets.build } %>
  <%# end %>

    </div>
  </div>
</div>
