  <%#= link_to 'New category', categories_path(country_id: @country.id), method: :post, :class=>'btn btn-default' %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-2 white-text text-center text-md-left">
        <td><%= link_to 'Back', country_path(@city.country) , :class=>'btn btn-light' %></td>

        <%= render partial: 'shared/card', :locals => { parent: @country, pl_text: "City", children: @city}, ed_link: "edit_country_city_path" %>

        <%= render partial: 'shared/list', :locals => { elements: @country.cities, country: "country"} %>
      </div>

<div class="col-md-8 col-xl-5 mb-4">

<h3><%= 'Airports:' if @city.airports.any? %></h3>
<%= render partial: 'shared/list', :locals => { elements: @city.airports, edit_link: "edit_city_airport_path", country: "city"} %>

  <%# if current_user %>

    <h3>Create Airport</h3>

  <%= render partial: 'shared/form', :locals => { parent: @city, pl_text: "Airport", children: @city.airports.build} %>
  <%# end %>

    </div>
  </div>
</div>
