  <%#= link_to 'New category', categories_path(country_id: @country.id), method: :post, :class=>'btn btn-default' %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-2 white-text text-center text-md-left">
        <div class="card">
          <div class="card-heading">
            <strong>City:</strong>
            <%= @city.name %>
          </div>
          <div class="card-body">
            <div class="col-md-12">
              <div class="float-left col-md-4 col-xs-12 thumb-image">
                <p><%= image_tag(@city.image.url, alt: 'Image', :class =>'center-block img-responsive') if @city.image? %></p>
              </div>
            </div>
            <tr>
              <%# if current_user %>
              <td><%= link_to 'Edit', edit_country_city_path(@city.country, @city), :class=>'btn btn-light' %></td>
              <td><%= link_to 'Delete', [@city.country, @city], :class=>'btn btn-danger float-right', method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <%# end%>
            </tr>
          </div><!-- /card-body -->
        </div><!-- /card card-default -->
        <td><%= link_to 'Back', country_path(@city.country) , :class=>'btn btn-light' %></td>
        <!-- /col-sm-5 -->
      </div>

<div class="col-md-8 col-xl-5 mb-4">

<h3><%= 'Airports:' if @city.airports.any? %></h3>
<%= render partial: 'shared/list', :locals => { elements: @city.airports, edit_link: "edit_city_airport_path", country: "city"} %>

  <%# if current_user %>

    <h3>Create Airport</h3>

  <%= render partial: 'shared/form', :locals => { parent: @city, pl_text: "Airport", children: @city.airports.build} %>
  <%# end %>

    </div>
  </div>
</div>
