<h1>Store#index</h1>
<%= link_to 'New', new_store_path, :class=>'btn btn-default' %>
</br>
<% @stores.each do |store| %>

<%= store.name %>
<%= store.image %>


<%= link_to 'Edit', edit_store_path(store), :class=>'btn btn-default' %>
<%= link_to 'Delete', store_path(store), :class=>'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>

<% end %>
