  <%#= link_to 'New category', categories_path(country_id: @country.id), method: :post, :class=>'btn btn-default' %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-2 white-text text-center text-md-left">
        <td><%= link_to 'Back', airport_path(@plane.airport) , :class=>'btn btn-light' %></td>
        <%= render partial: 'shared/card', :locals => { parent: @airport, pl_text: "Plane", children: @plane} %>

        <%= render partial: 'shared/list', :locals => { elements: @airport.planes, country: "plane"} %>

      </div>

<div class="col-md-8 col-xl-5 mb-4">

<h3><%= 'Passenger:' if @plane.passengers.any? %></h3>
  <%= render partial: 'shared/list', :locals => { elements: @plane.passengers, country: "passenger"} %>



    <h3>Create Passenger</h3>

  <%= render partial: 'shared/form', :locals => { parent: @plane, pl_text: "Passenger", children: @plane.passengers.build } %>


    </div>
  </div>
</div>
