<% if request.referrer == login_url %>
<%= link_to 'Back', :back , :class=>'btn btn-default' %>
<% else %>
<%= link_to 'Back', root_url , :class=>'btn btn-default' %>
<% end %>
<h1>Log In</h1>
<% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<% end %>

<%= form_tag sessions_path do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email, params[:email] %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
  </div>
  <%= hidden_field_tag :referer, (params[:referer] || request.env['HTTP_REFERER']) %>
  <div class="actions"><%= submit_tag "Log In" %></div>
<% end %>
</br>
